.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-51%);
  width: 480px;
  max-width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-top: 1px solid rgb(0 0 0 / 30%);
}
.container{
  border-top-width: 1px;
  border-color: black;
  max-height: 60px;
}
.tab-icon{
  margin-top: 5px;
}
.tab-icon-image{
  height: 32px;
  width: 42px;
}
.tab-label{
  font-size: 14px;
}