.profile-avatar {
  width: 34px;
  height: 34px;
  border-radius: 18px;
}

.record-item {
  max-width: 500px;
  font-size: 18px;
}

.h-max{
  height: 48px;
}

@media (max-width: 576px) {
  .record-item {
    font-size: 14px;
  }
}