.recharge-btn{
    background-image: linear-gradient(to right, rgb(52, 117, 245), rgb(11, 197, 244)); 
    box-shadow: rgba(46, 129, 245, 0.42) 0px 0px 6px;
}

.withdraw-btn {
    background-color: rgb(237, 237, 237);
}

.font-1{
    color: rgb(151, 151, 151);
    font-size: 16px;
}

.font-2{
    font-size: 34px;
    font-weight: 700;
    color: rgb(56, 59, 69);
}
.font-3{
    color: rgb(56, 59, 69);
    font-weight: 700;
    font-size: 14px;
}
.btn{
    border-radius: 25px;
    font-weight: 700;
    height: 45px;
    width: 154px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border: 0;
}
.max-w{
padding: 2px 40px;
}