.task-icon {
    width: 50px;
    height: 50px;
  }
  
  .task-label,
  .check-in-label {
    font-size: 16px;
    font-weight: 700;
  }
  
  .check-in-icon {
    width: 50px;
    height: 50px;
  }
  
  @media (max-width: 576px) {
    .task-label,
    .check-in-label {
      font-size: 14px;
    }
  }
  
  .max-w{
    padding: 2px 40px;
    }